@import '../../variables.scss';

.active-story{
  display: flex;
  flex-direction: column;
  
  table{
    border: 5px solid $mainRed;
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
  
    td{
      border: 5px solid $mainRed;
      text-align: center;
      font-size: 17px;
    }
  }
}

