.main-page {
  &__logo {
    font-size: 40px;
    margin: 50px;
  }

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
  }

  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__connect {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
