@import '../../variables.scss';

.main-page {
  &__logo-container{
    font-family: 'Rock Salt';
    margin: 30px;
  }

  &__logo{
    display: inline;
    font-family: 'Rock Salt';
    font-size: $bigText;
  }

  &__logo-red{
    display: inline;
    font-family: 'Rock Salt';
    font-size: $bigText;
    color: $mainRed;
  }

  &__wrapper {
    min-width: 300px;
    margin: 0 auto;
    height: 100%;
    margin-top: 10px;
    padding: 0 40px;
    
  }

  &__separator {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__connect {

    &-input{
      width: 480px;
      margin-bottom: 20px;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;
    }
  }

  &__separator{
    font-family: 'Rock Salt';
    font-size: 48px;
    display: inline;
    &-wrapper{
      display: flex;
      justify-content: center;
    }
    &-red{
      color: $mainRed;
    }
  }

  &__description{
    font-size: $mediumText;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
  }
}


