@import '../../variables.scss';

.exclude-init{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    font-size: $commonText;
  }

  &__reason{
    width: 80%;
    height: 100px;
    padding: 10px;
    margin: 40px 0;
  }

  &__buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
  }
}