@import '../../variables.scss';

@keyframes select {
  0%{
    transform: translate(0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  30%{
    transform: translate(-1px, -3px);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  }

  60%{
    transform: translate(-3px, -6px);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4);
  }
  
  100%{
    transform: translate(-6px, -10px);
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.6);
  }
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 10px;
  width: 100px;
  height: 80%;
  background: transparent;
  border: 5px solid $mainRed;
  border-radius: 2px;
  transition: all 1s;

  &__pointer{
    padding: 1px;

    &_upper{
      align-self: flex-start;
    }

    &_lower{
      align-self: flex-end;
    }
  }

  &_selected{
    background-color: $mainRed;
    animation: select 0.5s ease-in-out forwards;
    transition: all 1s;
  }
}