@import '../../variables.scss';

.avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid $secondaryGreen;

  &_name{
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: $commonText;
  }
}