@import '../../variables.scss';

.lobby{
  display: flex;
  flex-direction: column;
  
  &__title{
    font-size: $bigText;
    text-align: center;

    span{
      color: $mainRed;
    }
  }

  &__chat{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    margin: 30px 0;

    .members{
      grid-area: 1/1/2/6;
    }

    .chat{
      grid-area: 1/6/2/13;
      width: 100%;
      max-width: none;
    }
  }
}