.chat{
  width: 60%;
  min-width: 500px;

  &__messages{
    background-color: rgb(228, 222, 201);
    height: 500px;
    overflow-y: scroll;
  
    &-left{
      display: flex;
      justify-content: start;
      .message__container {
        border-radius: 15px 15px 15px 0px;
      }
    }
  
    &-right{
      display: flex;
      justify-content: end;
  
      .message__container {
        border-radius: 15px 0px 15px 15px;
      }
    }
  }
}

.controller{
  display: flex;
  justify-content: space-between;
  
  &__input{
    width: 100%;
  }

  &__submit{
    padding: 5px 10px;
  }
}

.message{
  &__container{
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    max-width: 90%;
    overflow: hidden;
  }
  
  &__author{
    font-size: 1.2em;
    color: green;
    padding: 5px;
  }

  &__text{
    padding: 5px;
  }
}
