@import '../../variables.scss';

.member{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: 5px 0;
  margin-bottom: 50px;
  padding: 5px;
  border: 5px solid $mainGreen;
  border-radius: 2px;

  &__name{
    margin: 0 10px;
    text-shadow: 0 0 2px $mainGreen;
  }

  &__special{
    position: absolute;
    bottom: -5px;
    left: -5px;
    transform: translate(0, 100%);
    width: 30%;
    padding: 5px;
    border: 5px solid $mainRed;
    border-radius: 2px;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    color: $mainRed;
    background: transparent;
  }

  .button {
    position: absolute;
    right: 0;
    transform: translate(105%);
    width: 20%;
    height: 80px;
    padding: 0;
    font-size: 24px;
  }
}