.member{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;

  &__name{
    margin: 0 5px;
  }

  &__dealer{
    position: absolute;
    top: -10px;
    left: -5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;   
    background: rgb(110 148 243);
    font-size: .8rem;
    font-weight: normal;
  }
}