@import '../../variables.scss';

.story-popup {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 999;

  &-wrapper {
    width: 66%;
    height: 66%;
    margin-top: 5rem;
    border-radius: 2px;
    border: 5px solid;
    background-color: #F4F4F4;
  }

  &__validation-error {
    position: relative;
    bottom: 0;
    color: $mainRed;
  }

  &__name {
    height: 70px;
  }

  &__name,
  &__description {
    width: 80%;
    margin: 15px auto;
  }

  &__submit-wrapper {
    display: flex;
    justify-content: space-around;
    bottom: 10px;
    width: 100%;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    resize: none;
    height: 100px;
  }

  p,
  span {
    text-align: center;
  }
}
