.dealer-actions{
  margin-top: 20px;

  &__link-title{
    margin: 20px 0;
    font-size: 1.5rem;
  }

  &__link-elements{
    display: flex;
    margin: 0 5px;
  }

  &__link{
    width: 210px;
    padding-left: 5px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid;
  }
  &__button{
    border-radius: 0 5px 5px 0;
  }

  &__game{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}