@import '../../variables.scss';

.controller{
  display: flex;
  justify-content: space-between;
  
  &__input{
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    outline: none;
    border: 1px solid $lightGrey;

    &:focus{
      border-color: black;
    }
  }

  .button {
    height: 35px;
    padding: 0;
    width: 150px;
  }
}
