@import '../../variables.scss';

.settings {
  display: grid; 
  width: 90%;
  margin: 25px auto;
  grid-template-columns: 49% 49%; 
  grid-template-rows: 1fr 100px; 

  &__container { 
    height: 100px;
  }

  &__stories { 
    &-controller{
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
    }
  }
  
  &__item{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  input{
    cursor: pointer;
  }

  &__validation-error{
    color: red
  }

  &__estimation{
    padding: 15px;
    display: flex;
    flex-direction: column;
    &-item{
      width: 367px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  &__checkbox{
    width: 25px;
    height: 25px;
  }

  &__launch{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
  }

}

.file-choose{
  position: relative;
  transition: all 1s;
  display: block;

  &__file{
    border: 5px solid red;

    &:hover{
      cursor: pointer;
    }

    &:active {
      border-color: $activeRed;
      background-color: $buttonRedActive;
      text-shadow: 0 0 2px $activeRed;
    }

    &:hover {
      border-color: $secondaryRed;
      background-color: $buttonRedHover;
      text-shadow: 0 0 2px $secondaryRed;
      cursor: pointer;
    }
  }

  &__input{
    display: none;
  }

  &__tooltip{
    display: none;
    position: absolute;
    left: 20px;
    bottom: -146px;
    width: 213px;
    height: 167px;
    padding: 10px;
    border: 1px solid;
    background: white;
    opacity: 0;
    transition: all 1s;
  }

  &:hover{
    .file-choose__tooltip{
      opacity: 1;
      display: block;
      transition: all 1s; 
    }
  }
  &-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px $mainGreen;
    width: 350px !important;
  }
}


@media screen and (max-width: 1100px) {
  .settings {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
  }
}
